body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  transition: background-color 0.3s, color 0.3s;
}

.container {
  text-align: center;
  max-width: 700px;
  padding: 4rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


h1 {
  font-size: 2.5rem;
  color: #ff9900;
}

p {
  font-size: 2rem;
  margin: 1.5rem 0;
}

button {
  padding: 0.8rem 1.2rem;
  margin: 0.5rem;
  font-size: 1.5rem;
  color: #fff;
  background-color: #ff9900;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e58900;
}

.dark-mode {
  background-color: #333;
  color: #f4f4f9;
}

.dark-mode .container {
  background-color: #444;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
}

.dark-mode h1 {
  color: #ffcc00;
}

.dark-mode button {
  background-color: #ffcc00;
}

.dark-mode button:hover {
  background-color: #e6b800;
}
